#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


h1{
  color: #d01111;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.div{
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightgreen;
  padding: 20px;
  margin: 20px;
}
